name: MLOps_test_train

on:
  # Runs on pushes targeting main branch
  push:
    tags:
      - 'train*'

jobs:
  # creat branch and data
  create-branch-and-save-data:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create test branch
        run: |
          git checkout -b test-${GITHUB_SHA}
          git push origin test-${GITHUB_SHA}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install --requirement requirements-freeze.txt

      - name: Prepare Data
        run: |
          python3.11 src/prepare.py data/prepared

      - name: Commit and Push Data
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add data/prepared
          git commit -m "Add prepared data"
          git config --global http.postBuffer 524288000
          git push origin test-${GITHUB_SHA}

  train-evaluate:
    runs-on: ubuntu-latest
    needs: create-branch-and-save-data  
    strategy:
      matrix:
        model: [model1, model2, model3] 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install --requirement requirements-freeze.txt

      - name: Train Model for ${{ matrix.model }}
        run: |
          python3.11 src/train.py data/prepared ${{ matrix.model }}

      - name: Evaluate Model for ${{ matrix.model }}
        run: |
          python3.11 src/evaluate.py ${{ matrix.model }} data/prepared

      - name: Commit and Push Model
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git git add evaluation/${{ matrix.model }}
          git git add model/${{ matrix.model }}
          git commit -m "Add trained evaluation and model ${matrix.model}"
          git push origin test-${GITHUB_SHA}

  compar-merge:
    runs-on: ubuntu-latest
    needs: train-evaluate 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Merge test branch into main
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global http.postBuffer 524288000
          git checkout main
          git merge test-${GITHUB_SHA}
          git push origin main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
